/* css styles */

.highlight-plum {
  color:#008080;
  font-style: bold;
}

.highlight-red {
  color: darkred;
  font-style: bold;
}

pre, code {
  
  white-space: pre-wrap; /* Satır uzunluğunu kaybetmeden kaydırma yap */
  word-wrap: break-word; /* Uzun kelimeleri veya kod satırlarını düzgün yerleştir */
   font-size: 10pt;
}